// Font-Weigth Guide
// ------------------------------------------------
$text-light:  300;
$text-normal: 400;
$text-bold:   500;

// Font-Face Declarations
// ------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Nova+Mono);

// Font-Stacks
// ------------------------------------------------
$header-font-stack: helvetica, arial, sans-serif;
$body-font-stack: 'Cutive Mono', helvetica, arial, serif;

// Letter Spacing
// ------------------------------------------------
body{
	//letter-spacing: .2px;
}

// Font-Styling
// ------------------------------------------------
#menu{
  font-size: 18px;
}
p,
ol li{
  font-size: 16px;
}
footer p{
  font-size: 14px;
}
