// Font-Weigth Guide
// ------------------------------------------------
$text-light:  300;
$text-normal: 400;
$text-bold:   500;

// Font-Face Declarations
// ------------------------------------------------

// Font-Stacks
// ------------------------------------------------
$header-font-stack: helvetica, arial, sans-serif;
  $body-font-stack: helvetica, arial, serif;
  
// Letter Spacing
// ------------------------------------------------
body{
	//letter-spacing: .2px;
}