@import '_colors.scss';		// Color declarations
@import '_mixins.scss';		// Cross-browser implementation of transitions, shadows, etc
@import '_fonts.scss';		// Font and font-style declarations

body{
	font-family: $body-font-stack;
}
h1,
h2,
h3{
	font-family: $header-font-stack;
	text-transform: uppercase;
	text-align: center;
}
p{
	text-align: center;
}
footer{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: inherit;
}
